#taskbar {
  background-color:teal;
  position:sticky;
  height:60;
  box-shadow:
    0 5px 2px grey;
}

#taskbar-center {
  color:green;
  font-size:24px;
}

#taskbar-right {
  margin-top:10px;
  float:right;
}

#taskbar-left {
  margin-top:10px;
  float:left;
}

#out {
  font-size:24px;
  color:teal;
}
