@font-face {
  font-family: 'Material';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

#taskbar {
  background-color:teal;
  position:sticky;
  height:60;
  box-shadow:
    0 5px 2px grey;
}

#taskbar-center {
  color:green;
  font-size:24px;
}

#taskbar-right {
  margin-top:10px;
  float:right;
}

#taskbar-left {
  margin-top:10px;
  float:left;
}

#out {
  font-size:24px;
  color:teal;
}
